<%= render 'owner/header' %>
<%= render 'owner/menu' %>
<%i=1%>
<div class="container">
	<div class="row mt-5" style="margin-left: 20%">
	<%@users.each do |user|%>	
		<div class="col-lg-6 col-md-6 col-12 mb-3" style="border:0px solid black">
				 <div class="card" style="width:auto;border:2px solid orange;border-radius: 5%;background-color:#FBF3F2 ">
				  <center><div><img class="card-img-top mt-3" src="#" alt="Card image" style="width:150px;height:200px;"></div></center>
				  <div class="card-body">
				    <center><h4 class="card-title"><%=user.firstname%></h4></center>
				    <p class="card-text"><b>Email-id : <%=user.email%></b></p>
				    <p class="card-text"><b>Hostel Id : <%=user.hostel_id%></b></p>
				    <p class="card-text"><b>Phone No : <%=user.phoneno%></b></p>
				    <center><a href="viewprofile.html?hostelid=${l.hostelid}" class="btn btn-primary"><b>See Profile</b></a></center>
				  </div>
				</div>
		</div>
		<%end%>
	</div>
</div>