<%= render 'header' %>
<%= render 'menu' %>
<%if flash[:notice]%>
<%=flash[:notice]%>	
<%end%>
<div style="height:auto;width:50%;margin-top:5%;margin-left:35%;border:2px solid orange;border-radius:5%" class="bg-light">
	   			<h2 class="pt-4 text-center"><b>Generate Hostel-Id</b></h2>
	   			<hr>
		   			<%=form_for @user,url:owner_index_path,method:'post' do |f|%>
						  <div class="row pl-5">
						    <div class="col">
						      <label class="pt-2"><b>Username</b></label>
                              <%=f.text_field :username,class:'form-control w-50'%>
								<span style='color:red'><%=@user.errors[:username].to_sentence%></span>
						    </div>
						  </div>
						  <div class="row pl-5">
						    <div class="col">
						      <label class="pt-2"><b>Room No</b></label>
                              <%=f.text_field :room_no,class:'form-control w-50'%>
							  <span style='color:red'><%=@user.errors[:room_no].to_sentence%></span>
						    </div>
						  </div>
						  <div class="row pl-5">
						    <div class="col">
						      <label class="pt-2"><b>Password</b></label>
                              <%=f.text_field :password,class:'form-control w-50'%>
							  <span style='color:red'><%=@user.errors[:password].to_sentence%></span>
						    </div>
						  </div>
						  <div class="row pl-5 pb-5">
						    <div class="col">
                            <%=f.submit 'Generate Id'%>
						    </div>
						  </div>  
					<%end%>
	   		</div>